:root {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #357EFE;
    --color-bg-tertiary: rgba(26, 188, 156, 1);
    --color-bg-quaternary: #FFC736;

    --color-text-primary: rgba(78, 93, 124, 0.5);
    --color-text-secondary: #FFFFFF;
    --color-text-tertiary: #000000;
    --color-text-quaternary: rgba(78, 93, 124, 1);
    --color-text-sextiary: rgba(255, 255, 255, 0.6);

    --color-border-shadow: rgba(78, 93, 124, 0.16);
    --color-border-primary: rgba(78, 93, 124, 0.08);

    --border-radius-8: 8px;
    --border-radius-47: 47px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-bg-primary);
    padding: 40px 264px;
}